<h1 class="text-center">Patient Register</h1>

<form id="PatientRegister" method="post" enctype="multipart/form-data" class="mx-auto mt-5 p-4 border rounded shadow"
    style="width: 800px;">
</form>
<script src="~/js/Patient/Register.js"></script>
<script>
    $('#PatientRegister').submit(function (e) {
        e.preventDefault()

        var formData = new FormData()
        var name = $("#c_name").val()
        var Email = $("#c_email").val()
        var Pwd = $("#c_password").val()
        var mobile = $("#c_mobile").val()

        formData.append("c_name", name)
        formData.append("c_email", Email)
        formData.append("c_password", Pwd)
        formData.append("c_mobile", mobile)
        $.ajax({
            url: "/Patient/Register",
            type: "post",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                @* if (response.sucess) {
                    Swal.fire({
                        title: "Register successfuly",
                        text: "You clicked the button!",
                        icon: "success"
                    }).then((result) => {
                        if (result.value) {
                            window.location.href = "http://localhost:5273/Patient/Login";
                        }
                    });
                } *@
                if (response.success) {
                    Swal.fire({
                        title: "Registration Successful!",
                        text: response.message,
                        icon: "success"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = response.redirectUrl;
                        }
                    });
                } else {
                    Swal.fire({
                        title: "Registration Failed!",
                        text: response.message,
                        icon: "error"
                    });
                }
            },
            error(xhr) {
                // alert("Error approving user: " + xhr.responseText); 
                Swal.fire({
                    title: "Error!",
                    text: "An unexpected error occurred. Please try again later.",
                    icon: "error"
                });
            }
        })
    })
</script>

<script src="~/js/sweetalert2.js"></script>
